[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/Zydak/glfw
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/Zydak/glm.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/Zydak/imgui.git
[submodule "lib/msdf-atlas-gen"]
	path = lib/msdf-atlas-gen
	url = https://github.com/Zydak/msdf-atlas-gen.git
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/Zydak/spdlog.git
[submodule "lib/stbimage"]
	path = lib/stbimage
	url = https://github.com/Zydak/stbimage.git
[submodule "lib/vulkanLib"]
	path = lib/vulkanLib
	url = https://github.com/Zydak/vulkanLib
[submodule "lib/entt"]
	path = lib/entt
	url = https://github.com/Zydak/entt
[submodule "lib/vulkanMemoryAllocator"]
	path = lib/vulkanMemoryAllocator
	url = https://github.com/Zydak/vulkanMemoryAllocator
[submodule "lib/assimp"]
	path = lib/assimp
	url = https://github.com/Zydak/assimp
[submodule "lib/lodepng"]
	path = lib/lodepng
	url = https://github.com/Zydak/lodepng
[submodule "lib/cuda"]
	path = lib/cuda
	url = https://github.com/Zydak/cuda
[submodule "lib/Optix"]
	path = lib/Optix
	url = https://github.com/Zydak/Optix
[submodule "lib/shaderc"]
	path = lib/shaderc
	url = https://github.com/Zydak/shaderc
[submodule "lib/ImNodeFlow"]
	path = lib/ImNodeFlow
	url = https://github.com/Zydak/ImNodeFlow
[submodule "lib/Vulkan-Hpp"]
	path = lib/Vulkan-Hpp
	url = https://github.com/KhronosGroup/Vulkan-Hpp
